<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <div class="text-center">
          <h3 class="masthead-brand">Cover</h3>
      </div>
      <nav class="nav nav-masthead justify-content-center">
          <button class="btn btn-link">
              <a class="nav-link active" href="#">Home</a>
          </button>
          <button class="btn btn-link">
              <a class="nav-link" href="#">Features</a>
          </button>
          <button class="btn btn-link">
              <a class="nav-link" href="#">Contact</a>
          </button>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
      <div class="text-center">
          <h1 class="cover-heading">Cover your page.</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. 
              Download, edit the text, and add your own fullscreen background photo to make it your own.
          </p>
          <p class="lead">
                  <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
      </div>
  </main>


<button class="btn btn-primary">Button should be red</button>
